{{> inc/header}}





<div class="ui items">
  <div class="item">
    <div class="ui image">
    <i class="huge envelope icon"></i>
    </div>
    <div class="content">
      <div class="header"><h1>SpringBoot TD numero 2</h1></div>
      <div class="meta">
        <span class="price">Application de messagerie</span>
      </div>
      </div>
	</div>
	



<div class="ui segment">
  <a class="ui primary button" href="add"><i class="plus icon"></i>Ajoutez une Organisation</a>

<table class="ui  table">

 <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Domain</th>
    <th>Aliases</th>
    <th></th>
  </tr>
<thead>
  <tbody>
  {{#organizations}}
    <tr>
    <td data-label="{{id}}">{{id}}</td>
      <td data-label="{{name}}">{{name}}</td>
      <td data-label="{{domain}}">{{domain}}</td>
      <td data-label="{{aliases}}">{{aliases}}</td>
      <td><a class="ui icon button" href="display/{id}"><i class="eye icon"></i></a>
   	  <a class="ui icon button" href="edit/{id}"><i class="edit icon"></i></a>
   	  <a class="ui negative icon button" href="delete/{id}"><i class="ban icon"></i></a></td>
   	<tr>
   	  {{/organizations}}
   	  
   	  
   	 
  </tbody>

</table>
</div>
{{> inc/footer}}